In [85]:
import pandas as pd
from profiler import profiler

# Add Excel file to DataFrame
df = pd.read_excel("Employee Turnover Dataset.xlsx")

In [86]:
# Remove ages that fall outside of a resonable number range 
df.loc[(df['Age'] > 90) | (df['Age'] < 16), 'Age'] = None
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,10317.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,...,10322.000000,10322.000000,10322.0,10322.000000,10321.000000,9904.000000,10322.000000,10322.000000,10322.000000,10320.000000
mean,39.034409,806.363495,26.127882,2.973939,0.999806,5048.809921,2.492637,114.789382,2.510172,3.007750,...,2.500000,2.492346,80.0,2.495543,20.538804,3.488590,2.487599,10.684073,5.814668,5.878295
std,12.502155,404.881817,53.149200,1.417019,0.034098,2914.561566,1.117284,49.453829,1.115439,1.401737,...,1.124396,1.114590,0.0,1.117646,11.736896,1.708504,1.117759,8.813084,5.910980,6.014995
min,18.000000,100.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,1.000000,80.0,1.000000,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,28.000000,455.250000,13.000000,2.000000,1.000000,2532.250000,1.000000,72.000000,2.000000,2.000000,...,1.000000,2.000000,80.0,2.000000,10.000000,2.000000,1.000000,3.000000,1.000000,1.000000
50%,39.000000,806.000000,25.000000,3.000000,1.000000,5093.500000,2.000000,115.000000,3.000000,3.000000,...,3.000000,2.000000,80.0,2.000000,21.000000,3.000000,2.000000,8.000000,4.000000,4.000000
75%,50.000000,1159.000000,38.000000,4.000000,1.000000,7556.750000,3.000000,158.000000,4.000000,4.000000,...,4.000000,3.000000,80.0,3.750000,30.000000,5.000000,3.000000,16.000000,8.000000,8.000000
max,60.000000,1500.000000,3737.000000,5.000000,3.000000,10000.000000,4.000000,200.000000,4.000000,5.000000,...,4.000000,4.000000,80.0,4.000000,222.000000,6.000000,4.000000,40.000000,39.000000,38.000000

In [87]:
## REMOVE DUPLICATE ROWS

# Show Row Count
print(len(df.index), "Total row count before removing duplicates")

# Drop Duplicates
df = df.drop_duplicates()

# Show Row Count After removing duplicates
print(len(df.index), "Total row count after removing duplicates")

10322 Total row count before removing duplicates
10024 Total row count after removing duplicates

In [88]:
# Remove 
df.loc[~df['BusinessTravel'].isin(['Non-Travel', 'Travel_Frequently', 'Travel_Rarely']), 'BusinessTravel'] = None

        Age Turnover     BusinessTravel  DailyRate              Department  \
0      33.0      Yes         Non-Travel        241                Hardware
1      35.0      Yes         Non-Travel        679                 Support
2      27.0      Yes  Travel_Frequently        359                Hardware
3      44.0       No      Travel_Rarely       1133                Software
4      56.0       No      Travel_Rarely        118                Software
...     ...      ...                ...        ...                     ...
10316  19.0      Yes         Non-Travel        105  Research & Development
10317  23.0       No      Travel_Rarely       1373                   Sales
10318  47.0      Yes         Non-Travel       1250         Human Resources
10320  47.0      Yes      Travel_Rarely        486                Hardware
10321  40.0      Yes  Travel_Frequently       1213                Hardware

       DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    16          3  Technical Degree              1
1                     7          2     Life Sciences              1
2                    50          1     Life Sciences              1
3                    12          5     Life Sciences              1
4                    43          2   Human Resources              1
...                 ...        ...               ...            ...
10316                24          1           Medical              1
10317                 2          3   Human Resources              1
10318                27          3           Medical              1
10320                44          5             Other              1
10321                33          1  Technical Degree              1

       EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                3505  ...                         1            80
1                1129  ...                         1            80
2                6305  ...                         4            80
3                4595  ...                         4            80
4                7203  ...                         2            80
...               ...  ...                       ...           ...
10316            4122  ...                         1            80
10317            9552  ...                         1            80
10318            4546  ...                         4            80
10320            4636  ...                         3            80
10321            5122  ...                         3            80

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                     4               35.0                    4.0
1                     1                5.0                    1.0
2                     4               10.0                    4.0
3                     3               19.0                    4.0
4                     1                3.0                    3.0
...                 ...                ...                    ...
10316                 1               26.0                    6.0
10317                 4               26.0                    4.0
10318                 1               19.0                    6.0
10320                 3               12.0                    6.0
10321                 4               29.0                    3.0

      WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                   4              13                  2
1                   1               4                  3
2                   2               4                  2
3                   1              14                  7
4                   4               1                  1
...               ...             ...                ...
10316               4               8                  8
10317               3               1                  1
10318               2              17                  1
10320               4               7                  5
10321               4              29                 27

       YearsSinceLastPromotion  YearsWithCurrManager
0                          8.0                    11
1                          3.0                     4
2                          4.0                     2
3                         12.0                     2
4                          1.0                     1
...                        ...                   ...
10316                      3.0                     5
10317                      1.0                     1
10318                      8.0                    11
10320                      5.0                     1
10321                     27.0                    18

[10024 rows x 35 columns]
['Non-Travel', 'Travel_Frequently', 'Travel_Rarely', None]

In [90]:
column_df = profiler(df, 'Age')

Unique values in 'Age':
[33. 35. 27. 44. 56. 34. 59. 28. 26. 42. 22. 53. 51. 19. 32. 38. 47. 60.
 55. 46. 49. 39. 41. 48. 40. 31. 54. 30. 37. 24. 36. 52. 50. nan 57. 43.
 21. 58. 45. 29. 20. 25. 18. 23.]

Describe output for 'Age':
                Age
count  10019.000000
mean      39.027747
std       12.491228
min       18.000000
25%       28.000000
50%       39.000000
75%       50.000000
max       60.000000