In [2]:
import pandas as pd

# Step 1. Read the Excel file into a DataFrame
df = pd.read_excel("Employee Turnover Dataset.xlsx")
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,10321.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,10322.000000,...,10322.000000,10322.000000,10322.0,10322.000000,10321.000000,9904.000000,10322.000000,10322.000000,10322.000000,10320.000000
mean,39.045538,806.363495,26.127882,2.973939,0.999806,5048.809921,2.492637,114.789382,2.510172,3.007750,...,2.500000,2.492346,80.0,2.495543,20.538804,3.488590,2.487599,10.684073,5.814668,5.878295
std,12.563238,404.881817,53.149200,1.417019,0.034098,2914.561566,1.117284,49.453829,1.115439,1.401737,...,1.124396,1.114590,0.0,1.117646,11.736896,1.708504,1.117759,8.813084,5.910980,6.014995
min,12.000000,100.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,1.000000,80.0,1.000000,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,28.000000,455.250000,13.000000,2.000000,1.000000,2532.250000,1.000000,72.000000,2.000000,2.000000,...,1.000000,2.000000,80.0,2.000000,10.000000,2.000000,1.000000,3.000000,1.000000,1.000000
50%,39.000000,806.000000,25.000000,3.000000,1.000000,5093.500000,2.000000,115.000000,3.000000,3.000000,...,3.000000,2.000000,80.0,2.000000,21.000000,3.000000,2.000000,8.000000,4.000000,4.000000
75%,50.000000,1159.000000,38.000000,4.000000,1.000000,7556.750000,3.000000,158.000000,4.000000,4.000000,...,4.000000,3.000000,80.0,3.750000,30.000000,5.000000,3.000000,16.000000,8.000000,8.000000
max,148.000000,1500.000000,3737.000000,5.000000,3.000000,10000.000000,4.000000,200.000000,4.000000,5.000000,...,4.000000,4.000000,80.0,4.000000,222.000000,6.000000,4.000000,40.000000,39.000000,38.000000